* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial;
    
}  
.container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}
header {
    width: 100%;
    background-color: #313332;
}
nav {
    max-width: 1205px;
    margin: 0 auto;
    height: 80px;
}
.logo-img {
    float: left;
    padding: 25px 5px;
}
.menu-items {
    list-style-type: none;
    float: right;
}
.menu-items a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 15px;
}

.menu-items li {
    display: inline-block;
    padding-top: 15px;
}
.menu-items a:hover {
    color: $mainColor;
}
